<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SUSJCCC1ConnectionString" connectionString="Server=4782e677-6855-4c1f-a458-a46e013cd5da.sqlserver.sequelizer.com;Database=db4782e67768554c1fa458a46e013cd5da;User ID=wcdoieupujdicqmc;Password=8whoHFtMCotViWw8LTR5NzeswhB3dymEGJfeAACvUAdfXbAb7hQu6FzFrXZzezJe;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
  </system.web>
</configuration>